@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

* {
    padding: unset;
    margin: unset;
    box-sizing: border-box;
}

body {
    /* Gradient From: https://www.gradientmagic.com/collection/lightbg*/
    background-image: repeating-linear-gradient(45deg, rgb(255, 255, 255) 0px, rgb(255, 255, 255) 10px, transparent 10px, transparent 11px), repeating-linear-gradient(135deg, rgb(255, 255, 255) 0px, rgb(255, 255, 255) 10px, transparent 10px, transparent 11px), linear-gradient(90deg, hsl(256, 7%, 84%), hsl(256, 7%, 84%));
    font-family: "Merienda", cursive;
}

h1 {
    margin-bottom: 1em;
    text-align: center;
    margin-top: 1em;
}



#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gameboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.cell {
    font-family: "Merienda", cursive;
    font-size: 3em;
    font-weight: 700;
    height: 100px;
    width: 100px;
    border: 1px solid rgb(29, 28, 28);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    transition: ease-in-out .2s;
}

.cell:hover {
    background-color: #dadada;
}


#resultsLabel {
    margin: 1em 0;
}

.playerNameContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.playerNameContainer input {
    padding: 4px;
}

#startBtnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}
#startBtn{
    padding: .5em 1em;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: rgb(32, 59, 158);
    color: #fff;
    font-weight: 600;
    font-size: 1em;
    transition: all 0.3s ease-in-out;
}
#startBtn:hover{
    background-color: rgb(20, 39, 106);
}
#startBtn:active{
    transform: scale(.9);
}
.hidden {
    display: none !important;
}